.background {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../../assets/home-background.jpg');
}

.content {
    color: #ffffff;
    padding-top: 20px;
    padding-inline: 20%;
    font-size: 1em;
    text-align: center;
}

.losangeles {
    color: #4d4d4d;
    font-size: 5em;
    margin: 0;
}

.Mountains {
    color: #414f6b;
    font-size: 5em;
    margin: 0;
}