.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar .logo {
    padding: 10px;
    border-radius: 100%;
    height: 50px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 20px;
}

.navbar li {
    margin-left: 20px;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}